body{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project{
    display:flex;
    flex-direction: row-reverse;
    height:fit-content;
    width:80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    font-family: 'Noto Sans', sans-serif;
}

.project-image{
    width:500px;
    height:400px;
    margin:auto;
}

.project-body{
    margin:3em;
}

@media screen and (max-width: 1223px) {
    .project{
        flex-direction: column;
    }
}


